@model IEnumerable<WebMVC.Models.UserViewModel>

<h2>Список пользователей</h2>
<p><a asp-action="Create">Создать нового пользователя</a></p>
<table class="table">
    <tr><th>Имя пользователя</th><th>Email</th><th>Пароль</th></tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Username</td>
            <td>@item.Email</td>
            <td>@item.Password</td>
            <td>
                            <a asp-action="Edit" asp-controller="User" asp-route-id="@item.Id">Изменить</a>
                        </td>
                        <td>
                            <form asp-controller="User" asp-action="Delete" method="post"  asp-route-id="@item.Id">
                                <input type="submit" value="Удалить" />
                            </form>
                        </td>
        </tr>
    }
</table>