@model ProductViewModel

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Name</title>
</head>
<body>
<h3>@Model.Name</h3>
<div>
    <table class="table">
        <!--<div class="container-img">-->
    
            <tr>
                
                <td>@Model.Price</td>
                <td> @Model.Platform</td>
                <td> @Model.Size</td>
                <td>
                    <a asp-action="AddToFavorite" asp-controller="Home" asp-route-userId="@Model.Id">Добавить в избранное</a>
                </td>
                <td>
                    <form asp-controller="Home" asp-action="Delete" method="post"  asp-route-userId="@Model.Id">
                        <input type="submit" value="Удалить" />
                    </form>
                </td>
            </tr>
    </table>
</div>
</body>
</html>